@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --marrom-claro: #805841;
    --azul-claro: #dcf7f3;
    --amarelo-claro: #fffcdd;
    --bege: #ffd8d8;
    --rosa-claro: #f5a2a2;
    --preto: #313131;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
    padding: 20px 70px;
    background-color: var(--bege);
    color: var(--preto);
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: var(--preto);
}

li{
    list-style: none;
}

img{
    width: 100px;
    height: auto;
}

nav{
    display: none;
}

header{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: var(--bege);
}

header > h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: -1px;
    color: var(--marrom-claro);
    cursor: pointer;
}

header > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

header > ul > li{
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

header > ul > li::after{
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: 0.3s;
}

header > ul > li:hover{
    color: var(--rosa-claro);
}

header > ul > li:hover::after{
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--rosa-claro);
}

section#tela-1{
    height: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}

section#tela-1 > div.apresentacao{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

section#tela-1 > div.apresentacao > h1{
    font-size: 48px;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 20px;
}

section#tela-1 > div.apresentacao > p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 48px;
}

section#tela-1 > div.apresentacao > a > button{
    height: auto;
    width: auto;
}

section#tela-1 > div.apresentacao > a > button > i{
    display: none;
}

section#tela-1 > div.apresentacao > a > button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 44px;
    padding: 18px 14Px 18px 18px;
    background-color: var(--rosa-claro);
    color: var(--preto);
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: padding-right 0.3s ease, opacity 0.3s ease;
    position: relative;
}

section#tela-1 > div.apresentacao > a > button::after {
    content: "\f138";
    font-family: "Font Awesome 6 Free";
    font-size: 18px;
    font-weight: 900;
    opacity: 0;
    width: 0;
    overflow: hidden;
    margin-left: 8px;
    color: var(--preto);
    transform: translateX(-10px);
    transition: opacity 0.3s ease, width 0.3s ease, transform 0.3s ease;
    position: relative;
}

section#tela-1 > div.apresentacao > a >button:hover::after {
    opacity: 1;
    width: auto;
    transform: translateX(0);
}

section#tela-1 > div.apresentacao > a > button:hover {
    opacity: 0.9;
    padding-right: 18px;
}


section#tela-1 > div.img-conteiner{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

section#tela-1 > div.img-conteiner > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section#tela-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}

section#tela-2 > h1{
    font-size: 38px;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 30px;
}

section#tela-2 > div.conteiner-produtos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 18px;
    margin-bottom: 30px;
}

section#tela-2 > div.conteiner-produtos > div.produto{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    height: 400px;
    padding: 12px;
    flex-direction: column;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

section#tela-2 > div.conteiner-produtos > div.produto:hover{
    background-color: var(--azul-claro);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#tela-2 > div.conteiner-produtos > div.produto > div.img-conteiner{
    width: 228px;
    height: 400px;
    background-color: rgb(246, 246, 246);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

section#tela-2 > div.conteiner-produtos > div.produto > div.img-conteiner > img{
    width: 150px;
    height: auto;
    object-fit: cover;
}

section#tela-2 > div.conteiner-produtos > div.produto > h1{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

section#tela-2 > div.conteiner-produtos > div.produto > h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 4px;
    text-align: center;
}

section#tela-2 > div.conteiner-produtos > div.produto > p{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 4px;
    text-align: center;
}

section#tela-2 > div.conteiner-anuncios{
    background-color: #d3ccc2;
    padding: 20px 0;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: transparent;
    margin-bottom: 70px;
}

section#tela-2 > div.conteiner-anuncios > div.anuncio{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 400px;
    position: relative;
    background: linear-gradient(to right, #cec7bd, #d3ccc2);
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

section#tela-2 > div.conteiner-anuncios > div.anuncio > div.texto{
    padding: 10px 14px 0 14px;
    font-size: 24px;
    font-weight: 400;
    background: linear-gradient(to right, #cec7bd, #d3ccc2);
    z-index: 1;
}

section#tela-2 > div.conteiner-anuncios > div.anuncio > div.texto h1{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 6px;
}

section#tela-2 > div.conteiner-anuncios > div.anuncio > div.texto p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
}

section#tela-2 > div.conteiner-anuncios > div.anuncio > div.texto button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 8%;
    padding: 16px 12px;
    background-color: var(--rosa-claro);
    color: var(--preto);
    font-size: 12px;
    font-weight: 400;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: padding-right 0.3s ease, opacity 0.3s ease;
}

section#tela-2 > div.conteiner-anuncios > div.anuncio > div.texto button:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

section#tela-2 > div.conteiner-anuncios > div.anuncio > img{
    width: 100%;
    height: 310px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}

section#tela-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}

section#tela-3 > h1{
    font-size: 38px;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 100px;
}

section#tela-3 > div.conteiner-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 100px;
}

section#tela-3 > div.conteiner-card > div.card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    width: 300px;
    padding: 10px;
    flex-direction: column;
    border-radius: 2px;
    text-align: center;
}

section#tela-3 > div.conteiner-card > div.card > i{
    font-size: 28px;
    margin-bottom: 24px;
}

section#tela-3 > div.conteiner-card > div.card > h2{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
}

section#tela-4{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 100px;
    margin-bottom: 100px;
}

section#tela-4 > div.texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
}

section#tela-4 > div.texto > h1{
    font-size: 38px;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 20px;
}

section#tela-4 > div.texto > h2{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 8px;
}

section#tela-4 > div.texto > p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 28px;
}

section#tela-4 > div.img-conteiner{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

section#tela-4 > div.img-conteiner img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

footer > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

footer > ul > li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 6px;
    font-size: 20px;
    margin-bottom: 24px;
    font-weight: 300;
    cursor: pointer;

}

footer > p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
    color: var(--preto);
    text-align: center;
    margin-bottom: 2px;
}

footer > p > a{
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}

footer > p > a > svg{
    margin-left: 4px;
}

@media (max-width: 768px) {
    body {
        padding: 20px 20px;
    }

    header {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        position: fixed;
    }

    header, footer {
        display: none;
    }

    nav {
        padding: 20px 0;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--bege);
        position: fixed;
        top: 0;
        z-index: 10;
    }


    nav > h1 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 36px;
        font-weight: 600;
        letter-spacing: -1px;
        color: var(--marrom-claro);
        cursor: pointer;
    }

    nav > i {
        font-size: 32px;
        color: var(--preto);
    }

    section#tela-1 {
        margin-top: 100px;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    section#tela-1 > div.apresentacao {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    section#tela-1 > div.apresentacao > h1 {
        font-size: 36px;
    }

    section#tela-1 > div.apresentacao > p {
        font-size: 18px;
        padding: 0 10px;
    }

    section#tela-1 > div.apresentacao > a > button{
        padding: 18px 14px 18px 18px;
    }

    section#tela-1 > div.apresentacao > a > button::after {
        content: "";
    }

    section#tela-1 > div.apresentacao > a > button:hover {
        opacity: 0.9;
        padding-right: 14px;
    }

    section#tela-1 > div.apresentacao > a > button > i {
        display: inline;
        margin-left: 8px;
    }

    section#tela-1 > div.img-conteiner {
        width: 100%;
        height: auto;
    }

    section#tela-1 > div.img-conteiner > img {
        width: 100%;
        height: auto;
    }

    section#tela-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    section#tela-2 > div.conteiner-produtos {
        flex-direction: column;
        gap: 30px;
    }

    section#tela-2 > div.conteiner-anuncios {
        flex-direction: column;
        height: auto;
    }

    section#tela-2 > div.conteiner-anuncios > div.anuncio {
        width: 100%;
        height: auto;
    }

    section#tela-2 > div.conteiner-anuncios > div.anuncio > div.texto button{
        width: fit-content;
        height: 32px;
        padding: 16px 12px;
    }

    section#tela-2 > div.conteiner-anuncios > div.anuncio > img {
        position: static;
        height: auto;
    }

    section#tela-3 > div.conteiner-card {
        flex-direction: column;
        gap: 30px;
    }

    section#tela-3 > h1 {
        text-align: center;
    }

    section#tela-4 {
        flex-direction: column;
        height: auto;
        gap: 30px;
    }

    section#tela-4 > div.texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    section#tela-4 > div.img-conteiner{
        display: none;
    }
    





    footer{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }
    
    footer > ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0px;
    }
    
    footer > ul > li{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 6px;
        font-size: 20px;
        margin-bottom: 24px;
        font-weight: 300;
        cursor: pointer;    
    }
    
    footer > p{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 400;
        margin-top: 20px;
        text-align: center;
        color: var(--preto);
        text-align: center;
        margin-bottom: 2px;
    }
    
    footer > p > a{
        margin-left: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: underline;
    }
    
    footer > p > a > svg{
        margin-left: 4px;
    }
    


}
